

.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-gap: 10px;
    margin: 400px 60px 250px 60px;
    justify-content: center;
}

.intro__headline {
    font-size: 80px;
    line-height: 85px;  
}

.intro__text {
    font-family: oswald;
    font-weight: 200;
}