
.master__headline {
    font-family: DM Serif Display;
    font-size: 3rem;
    color: var(--primary);
    line-height: 30px;
    margin-bottom: 1rem;
}

.master__text {
    font-family: roboto;
    font-weight: 300;
    line-height: 1.3rem;
    margin: 0.5rem 0rem;
}