
.master__headline {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    color: var(--primary);
    line-height: 3rem;
    margin-bottom: 0.5rem;
}

.master__headline__small {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: rgb(171, 171, 171);
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

.master__headline_strong {
    font-family: DM Serif Display;
    color: var(--primary);
    font-size: 80px;
    line-height: 5rem;  
}

.master__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3rem;
    margin: 0.5rem 0rem;
}

.master__text__strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.3rem;
    xmargin: 0.5rem 0rem;
}