

.profile {
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 4fr 1fr 1fr;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.42);
    border-radius: 20px;
    padding: 30px;
    margin: 120px 40px 20px 40px;
}

.profile__img {
    max-height: 400px;
    max-width: 300px;
    margin-bottom: 20px;
}

.profile__text {
    font-family: oswald;
    font-weight: 200;
}

.profile__score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
    justify-items: center;
    font-family: oswald;

}