

.profile {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    background-color: rgb(249, 249, 249) ;
    border-radius: 20px;
    padding: 30px;
    margin: 130px 40px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) ;
    max-width: 370px;
    justify-content: center;
    position: relative;
}

.profile__img {
    max-height: 400px;
    max-width: 300px;
    margin-bottom: 20px;
}

.profile__headline {
    font-family: DM Serif Display;
    font-size: 3rem;
    color: var(--primary);
    line-height: 3rem;
    margin-bottom: 1rem;
}

.profile__text {
    font-family: oswald;
    font-weight: 200;
}


.profile__score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
    justify-items: center;
    font-family: oswald;

}